.test.stamp
vendor
.idea

# Binaries and artifacts
cloudformation-cognito
cloudformation-cognito.zip
cognito-info
cognito-info.zip
github-login
github-login.zip
cognito-login
cognito-login.zip
cognito-userInfo
cognito-userInfo.zip
